/* 產品區塊 */
.product {
  &__categoryTab {
    // z-index: 99;
    &--active {
      transition: 0.3s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    li {
      border-right: 1px #dee2e6 solid;
      border-bottom: 1px #dee2e6 solid;
      &:last-child {
        border-right: 0;
      }
      @include media-breakpoint-down(md) {
        border: 0;
        &:nth-child(2), &:first-child  {
          border-bottom: 1px #dee2e6 solid;
        };
        &:nth-child(2n+1)  {
          border-right: 1px #dee2e6 solid;
        };
      }
    }
  }
  &__list {
    &__functionBtn {
      z-index: 9;
    }
    &__img {
      height: 210px;
      @include media-breakpoint-down(lg) {
        height: 128px;
      }
    }
  }
  &__inside {
    &__img {
      height: 400px;
      @include media-breakpoint-down(md) {
        height: 220px;
      }
    }
  }
  &--hover {
    &:hover{
      transition: 0.3s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }
}
