/* 專案區塊 */
.studio {
  // topNavbar
  &__topNavbar {
    &__link {
      @include media-breakpoint-down(lg) {
        width: 100%;
        text-align: center;
      }
    }
  }
  // banner 區塊
  &__banner {
    width: 100%;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &__secondary {
      height: 250px;
      @include media-breakpoint-down(lg) {
        height: 200px;
      }
      @include media-breakpoint-down(md) {
        height: 150px;
      }
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    &__title {
      z-index: 99;
    }
    &__home {
      background-image: url('~@/assets/images/banner/studio.jpg');
      @include media-breakpoint-down(lg) {
        background-position: 20% center;
        height: 350px;
      }
      @include media-breakpoint-down(md) {
        background-position: 10% center;
        height: 250px;
      }
    }
    &__about {
      background-image: url('~@/assets/images/banner/about.jpg');
    }
    &__questions {
      background-image: url('~@/assets/images/banner/questions.jpg');
    }
    &__bookMark {
      background-image: url('~@/assets/images/banner/bookMark.jpg');
    }
  }
  // 工作室目標區塊
  &__goal {
    li img {
      height: 300px;
      @include media-breakpoint-down(lg) {
        height: 250px;
      }
    }
  }
  // 學員心得區塊
  &__experience {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0; 
      bottom: 0; 
      left: 0;
      border: 1px map-get($theme-colors, 'dark' ) solid;
      transform: skew(-10deg);
      z-index: -1;
      @include media-breakpoint-down(lg) {
        transform: skew(-8deg);
      }
      @include media-breakpoint-down(md) {
        border: 0;
        border-bottom: 1px map-get($theme-colors, 'secondary' ) solid;
        transform: skew(0deg);
      }
    }
  }
  // 首頁產品選擇區塊
  &__productSelect {
    img {
      height: 400px;
      @include media-breakpoint-down(lg) {
        height: 274px;
      }
      @include media-breakpoint-down(md) {
        height: 220px;
      }
      @include media-breakpoint-down(sm) {
        height: 155px;
      }
    }
    
  }
  // 訂閱區塊
  &__subscribe {
    height: 300px;
    background-image: url('~@/assets/images/subscribe.jpg');
    background-position: center;
    @include media-breakpoint-down(lg) {
      height: 200px;
    }
  }
  // 關於我們區塊
  &__about {
    img {
      height: 500px;
      @include media-breakpoint-down(lg) {
        height: 250px;
      }
    }
  }
  // 檢視購物車區塊
  &__checkout {
    &__img {
      width: 120px;
      height: 110px;
    }
  }
  // 區塊置頂
  &__stickyTop {
    position: sticky;
    top: 63px;
    z-index: 99;
    @include media-breakpoint-down(lg) {
      top: 60.4px;
    }
    @include media-breakpoint-down(md) {
      top: 57.2px;
    }
  }
  // 人物頭像
  &__avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }
  // icon
  &__icon {
    width: 32px;
    height: 32px;
    &__nav{
      width: 24px;
      height: 24px;
    }
  }
  // toast
  &__toast {
    &__position {
      bottom: 10%;
      right: 5%;
      @include media-breakpoint-down(md) {
        right: 50%;
        transform: translateX(50%);
      }
    } 
  }
  
  &__scorllTop {
    width: 50px;
    height: 50px;
    z-index: 100;
  }
}