$primary: #CF5C78;
$secondary: #C2BFB5;
$warning: #F5DF4D;
$danger: red;

$position-values: (
  0: 0,
  5: 5%,
  10: 10%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 1.5rem,
);
